<!DOCTYPE html>
<html lang="en" ng-app='co'>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title></title>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="../../build/colorwheel.js"></script>
</head>
<body ng-controller="main">
  <textarea ng-model="code" style="width: 1000px"></textarea>
  <button ng-click="refresh()">Refresh</button>
  <div>
    <input ng-repeat="color in colors track by $index" type="color" ng-model="colors[$index]">
  </div>
  <div>
    <span ng-repeat="t in hsv track by $index">{{ t }}</span>
  </div>
  <div>
    <input ng-repeat="color in bk track by $index" type="color" value="{{ bk[$index] }}">
  </div>
  <div>
    <span ng-repeat="t in bkhsv track by $index">{{ t }}</span>
  </div>
  <script src="app.js"></script>
</body>
</html>
